<div class="about-page">

  <div class="background">
    <div class = "color colorbg">
      <h3 class = "title">Find Travel Ideas</h3>
      <p>This discussion board is tailored to fulfill your vacation blues!</p>
    </div>
  </div>

<div class="line-parent text-center">
  <div class="line-child">
    <%= fa_icon "train" %>
  </div>
  <div class ="line-child">
    <%= fa_icon "car" %>
  </div>
</div>

  <div class="line-parent text-center">
    <%= link_to "http://facebook.com/shahminrazali", class: "line-child text-center" do %>
        <%=  fa_icon("facebook 1x") %><br>
        <h7>Facebook</h7>
    <% end %>
    <%= link_to "http://www.instagram.com",class:"line-child", target: "_blank" do %>
        <%=fa_icon("instagram 1x")%><br>
        <h7>Instagram</h7>
    <%end%>
    <%= link_to "http://www.google.com",class:"line-child", target: "_blank" do %>
        <%=fa_icon("globe 1x")%><br>
        <h7>Website</h7>
    <%end%>
  </div>
</div>
