<%= form_for(comment, url: topic_post_comments_path(post.topic, post), method: :post, authenticity_token: true,  remote:true,  html: { id: "comment-create-form", multipart: true }) do |f| %>
  <h5 class="text-center">
    Create Comment
  </h5>

  <div class="form-group">
    <%= f.label :text_field, "Body" %>
    <%= f.text_field :body, id: "post_body_field", class: "form-control" %>
  </div>

  <div class="form-group">
      <h4 class="text-center"> Post Image </h4>
      <div id="preview-image">
        <% if comment.image? %>
          <%= image_tag comment.image, class: "img-settings img-responsive center-block" %>
        <% end %>
      </div>
  </div>

  <div class="form-group">
    <%= f.file_field :image, id: "comment_image_field", class: 'form-control image-uploader' %>
  </div>

  <div class="form-group text-center">
      <%= f.submit "Create Comment", class: " btn btn-lg btn-success" %>
  </div>
<%end%>
