<div class= "comments index"  data-id="<%=@post.id%>">
  <div class="background">
    <h3><%= @post[:title] %></h3>
    <h4><%= @post[:body] %></h4>
  </div>

  <div id="comments">
    <% @comments.each do |comment| %>
    <%= render partial: "comment", locals: { comment: comment, post: @post, topic: @topic, extra_class: "" } %>
    <% end %>
  </div>

  <div id="comments-form-container">
    <%= render partial: "form",  locals: { comment: @comment, post: @post } %>
  </div>
</div>
