<div class="landing">
<div class ="background">
  <div class="content text-center" style="padding-left:5%">
    <h1>Travel With Experience</h1>

  </div>
</div>

<div class ="background-2">
  <div class="content2 text-center">
    <h1>Ever wanted to be vacationing on Mars?</h1>
    <h4>Now you can, sign up and win a once in a lifetime oppurtunity to visit Mars</h4>
    <p>*Terms and conditions applies. Only valid in year 2067.</p>
  </div>
</div>

<div class="features-container">
<h3 class="features-title text-center">Every means of transportaion imagined</h3>
<hr class="short-underline">
<section class="features">

  <div class="feature text-center">
    <%= fa_icon 'plane 4x' %>
    <h4>Air</h4>
    <p>The fastest way to travel</p>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'ship 4x' %>
    <h4>Sea</h4>
    <p>Beat the motion sickness</p>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'car 4x' %>
    <h4>Land</h4>
    <p>Live in your car</p>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'tint 4x' %>
    <h4>Underwater</h4>
    <p>Featuring submarine vacations</p>
  </div>

</section>
</div>

<section class="photo-container">

    <div class="photo-box">
      <div class="invisible-layout">
        <div class="sexybox">
          <h3>AMSTERDAM</h3>
        </div>
      </div>
      <%= image_tag "4.jpg", class: "img-responsive img-settings"%>
    </div>

<div class="photo-box">
  <div class="invisible-layout">
    <div class="sexybox">
      <h3>THAILAND</h3>
    </div>
  </div>
  <%= image_tag "1.jpg", class: "img-responsive img-settings"%>
</div>

<div class="photo-box">
  <div class="invisible-layout">
    <div class="sexybox">
      <h3>AFRICA</h3>
    </div>
  </div>
  <%= image_tag "2.jpg", class: "img-responsive img-settings"%>
</div>

<div class="photo-box">
  <div class="invisible-layout">
    <div class="sexybox">
      <h3>AUSTRALIA</h3>
    </div>
  </div>
  <%= image_tag "3.jpg", class: "img-responsive img-settings"%>
</div>
</section>


<section class="contact-info text-center">
<h3 class="text-center">Share Your Experience</h3>
<hr class="short-underline2">
<h4 class="width contact-info">With over 500 trillion users, we are able to provide you with an accurate answer to any of your dying questions!</h4>
<br>
<p> This is something else</p>

<div class="contact-flex">

  <div class="column-4">
    <%= fa_icon 'dashboard 2x' %>
    <h5>Dashboard</h5>
  </div>
  <div class="column-4">
    <%= fa_icon 'google-wallet 2x' %>
    <h5>Wallet</h5>
  </div>
  <div class="column-4">
    <%= fa_icon 'bitcoin 2x' %>
    <h5>Bitcoin</h5>
  </div>
  <div class="column-4">
    <%= fa_icon 'mobile 2x' %>
    <h5>Mobile</h5>
  </div>
  <div class="column-4">
    <%= fa_icon 'bank 2x' %>
    <h5>Banking</h5>
  </div>
  <div class="column-4">
    <%= fa_icon 'snapchat 2x' %>
    <h5>Snapchat</h5>
  </div>

</div>
</section>

<div class="footer text-center">
  <p>TripShare 2015 <%= fa_icon 'copyright' %></p>
</div>
</div>
