<div class="landing">
<div class ="background">
  <div class="content text-center" style="padding-left:5%">
    <h1>Travel With Experience</h1>

  </div>
</div>

<div class ="background-2">
  <div class="content">
    <h1>Cool people go here?</h1>
  </div>
</div>

<div class="features-container">
<h3 class="features-title text-center">Look at all of these</h3>
<hr class="short-underline">
<section class="features">

  <div class="feature text-center">
    <%= fa_icon 'plane 5x' %>
    <h4>This is a plane</h4>
    <p>Hello this is some text</p>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'globe 5x' %>
    <h4>This is EARTH</h4>
    <p>Hello this is some text</p>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'car 5x' %>
    <h4>A Car</h4>
    <p>Hello this is some text</p>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'bus 5x' %>
    <h4>b u s</h4>
    <p>Hello this is some text</p>
  </div>
</section>
</div>

<section class="photo-container">

    <div class="photo-box">
      <div class="invisible-layout">
        <div class="sexybox">
          <h3>Is it a plane?</h3>
        </div>
      </div>
      <%= image_tag "4.jpg", class: "img-responsive img-settings"%>
    </div>

<div class="photo-box">
  <div class="invisible-layout">
    <div class="sexybox">
      <h3>Is it a plane?</h3>
    </div>
  </div>
  <%= image_tag "1.jpg", class: "img-responsive img-settings"%>
</div>

<div class="photo-box">
  <div class="invisible-layout">
    <div class="sexybox">
      <h3>Do i know you?</h3>
    </div>
  </div>
  <%= image_tag "2.png", class: "img-responsive img-settings"%>
</div>

<div class="photo-box">
  <div class="invisible-layout">
    <div class="sexybox">
      <h3>Is it a plane?</h3>
    </div>
  </div>
  <%= image_tag "3.jpg", class: "img-responsive img-settings"%>
</div>
</section>


<section class="contact-info text-center">
<h3 class="text-center">Share Your Experience</h3>
<hr class="short-underline">
<p class="width">With over 500 trillion users, we are able to provide you with an accurate answer to any of your dying questions!</p>
<br>
<p> This is something else</p>

<div class="contact-flex">

  <div class="column-4">
    <%= fa_icon 'mobile 2x' %>
    <h5>Call us on +0123456789</h5>
  </div>
  <div class="column-4">
    <%= fa_icon 'google-wallet 2x' %>
    <h5>Exclusive Support</h5>
  </div>
  <div class="column-4">
    <%= fa_icon 'bitcoin 2x' %>
    <h5>Bitcoin Support</h5>
  </div>

</div>
</section>

</div>
