<div id="topic" data-id="<%=topic.id%>" class="topic-child text-center" >
  <%= link_to topic_posts_path(topic) do %>
  <h4><%= topic.title %></h4>
  <h5><%= topic.description %></h5>
  <% end %>
  <!-- <div class="box"> -->
    <%= link_to fa_icon("pencil 1x"), edit_topic_path(topic), remote: true%>
    <%= link_to fa_icon("trash-o 1x"), topic_path(topic), method: :delete, remote:true, data: {confirm: "Delete?"} %>
  <!-- </div> -->
</div>
