<h1><%= @topic.title %></h1>
<p><%= @topic.description %></p>

<div class="topics">
<%= link_to "EDIT", edit_topic_path, class: "button-set" %>

<%= link_to "DELETE", topic_path , class: "button-set" , method: :delete, data: {confirm: "Delete?"} %>
<!-- <%= form_for(@topic, url: edit_topic_path(@topic), html: { id: "topic_edit"}) do |f| %>

<div class="form-group text-center">
  <%= f.submit "Edit", class: "btn btn-success btn-lg" %>
</div> -->
<% end %>

</div>
'#topic_<%= @topic.id %>'
