<%= form_for(@user, url: user_path, html: { id: "user-edit-form" }) do |f| %>
    <h4 class="text-center">
      Edit User Profile
    </h4>

    <div class="form-group">
      <h4> <%= f.label :email_field, "Email" %> </h4>
      <%= f.text_field :email, required: true, id: "user_email_field", class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4> <%= f.label :password_field, "Password" %> </h4>
      <%= f.password_field :password, id: "user_password_field", class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4> <%= f.label :username_field, "Username" %> </h4>
      <%= f.text_field :username, id: "user_username_field", class: 'form-control' %>
    </div>

    <div class="form-group">
        <h4 class="text-center"> Post Image </h4>
        <div id="preview-image">
          <% if @user.image? %>
            <%= image_tag @user.image, class: "img-settings img-responsive center-block" %>
          <% end %>
        </div>
    </div>

    <div class="form-group">
      <%= f.file_field :image, id: "comment_image_field", class: 'form-control image-uploader' %>
    </div>

    <div class="form-group text-center">
      <%= f.submit "Save", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
